footer.text-muted
  .container
    p.float-right
      a(href="#") Back to top
    p All Rights Reserved © Words You Never Noticed !
    p New to ? #[a(href="https://getbootstrap.com/") Visit the homepage] or read our #[a(href="https://getbootstrap.com/docs/4.4/getting-started/introduction/") getting started guide].
