extends layout2

block layout2-content
	div(class="row justify-content-center")
		div(class="col-md-10  shadow p-3 mb-5 bg-white rounded")
			h3.text-center Enter Password To Access Url
			br
			form(name="form" method="POST")
				div(class="row form-group")
					div(class="col-md-12")
						div(id="error_msg")
				div(class="row form-group")
					div(class="col-md-12")
						label(for="password") Password
						br
						input(
							class="inp"
							type="password"
							id="password"
							name="password"
							required
						)
				br
				div(class="row form-group")
					div(class="col-md-8")
						input(class="button" type="submit" value="Redirect Me" ) 
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
